	


<script src="./node_modules/localforage/dist/localforage.js"></script>
<script>console.log('localforage is: ', localforage);</script>
<script src="/assets/scripts/app.js"></script>
</body>
</html>