<section class="todoForm">
	<div class="section-content">
		<h2>Add Todos</h2>
	  <form id="todo-form" role="search">
			<input type="text" class="form-control" name="todo" placeholder="e.g. walk the dog">
  		<button type="submit" class="addTodo">Add Todo</button>
		</form>		
	</div>
</section>